__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.tox/
.mypy_cache/

# Editor Temps
.*.sw?
*~
\#*\#
.desktop

data/.DS_Store
.DS_Store

/venv
/sandbox
/outputs
graph-etl/outputs

manifest.txt

data/feature-sets/*

data/features.sqlite
data/original_pred_matrices/*
!data/original_pred_matrices/README.md

data/predictions/*

data/v8-cv-matrices/*
!data/v8-cv-matrices/README.md
data/v8-qc/*
!data/v8-qc/README.md
data/v8-feature-matrices/*
!data/v8-feature-matrices/README.md

/reformat/*.tsv
/reformat/processed/*.tsv
/reformat/final_reformatted_files/*.tsv
